-gallery_images = ["club-sandwich.png","papas.png","hamburger.png","panini.png","club-sandwich.png","papas.png"]
!!!5
%html{class:"no-js", lang:""}
  %head
    %meta{charset:"utf-8"}
    %meta{:"http-equiv" => "x-ua-compatible", content:"ie=edge"}
    %title Money League
    %meta{name:"description", content:"Money League 🔥. 8 Equipos, $20,000, un día ¿estás listo? By. AMIGOS COOL"}
    %link{rel:"stylesheet", href:"/offline/style.css",type:"text/css"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí hay información que te será útil.
    .container
      %h1 MONEY LEAGUE
      %p
        %strong Dirección
        Bla bla bla bla bla
      %p
        %strong Horario
        A partir de las 5:00 p.m.
      %p
        %strong Teléfono
        123456789
      %p
        %strong Teléfono
        123456789
      %p
        %strong Descripción
        Estamos por cambiar la manera de jugar al fútbol ¿estás seguro de que te lo quieres perder?
      #map
        %img{src:"/offline/map.png"}
        %p Aquí hay un mapa en caso de que necesites más referencias
      

