-gallery_images = ["amigos.jpg","alv.jpg","fuck.jpg","fuck2.jpg","helvetica.jpg","merch.jpg", "noposwow.jpg"]
%html{class:"no-js", lang:""}
  %head
    %meta{charset:"utf-8"}
    %meta{:"http-equiv" => "x-ua-compatible", content:"ie=edge"}
    %title Money League
    %link{rel:"icon", href:"imgs/icons/favicon.ico"}
    %meta{name:"description", content:"Come rico y barato en el mejor rastaurante de la ciudad, servicio de primera. Los mejores tacos de la ciudad."}
    %link{rel:"stylesheet", href:"/offline/style.css",type:"text/css"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí hay información que te será útil.
    .container
      %h1 MONEY LEAGUE
      %p
        %strong Dirección
        Bla bla bla bla
      %p
        %strong Horario
        A partir de las 5:00 p.m.
      %p
        %strong Teléfono
        123456789
      %p
        %strong Teléfono
        123456789
      %p
        %strong Descripción
        Estamos por cambiar la manera de jugar fútbol en México ¿te lo vas a perder?
      #map
        %img{src:"/offline/map.png"}
        %p Aquí hay un mapa en caso de que necesites más referencias
      

